
<%= stylesheet_link_tag "productions" %>
<%= stylesheet_link_tag "content_layout" %>
<%= stylesheet_link_tag "ihower" %>
<div id="container">
<div id="classify">
  <div id="choice_title">

  </div>
  <div id="nav">
  <ul id="classify_item">
    <li id="F" class="item">
      <%= label_tag 'vgg','#','data-changetype' => '/productions/change_type','data-protype'=>'V'%>
      <%= link_to t(:V),productions_index_path(:protype => 'V',:way_display => params[:way_display]) %>
    </li>
    <li id="F"  class="item">
      <%= link_to t(:F),productions_index_path(:protype => 'F',:way_display => params[:way_display]) %>
    </li>
    <li id="T"  class="item">
      <%= link_to t(:T),productions_index_path(:protype => 'T',:way_display => params[:way_display]) %>
    </li>
    <li id="D" class="item">
      <%= link_to t(:D),productions_index_path(:protype => 'D',:way_display => params[:way_display]) %>
    </li>
    <li id="R" class="item">
      <%= link_to t(:R),productions_index_path(:protype => 'R',:way_display => params[:way_display]) %>
    </li>
    <li id="O" class="item">
      <%= link_to t(:O),productions_index_path(:protype => 'O',:way_display => params[:way_display]) %>
    </li>
    <li id="L" class="item88">
      <%= link_to t(:L),productions_index_path(:protype => 'L',:way_display => params[:way_display]) %>
    </li>
    <li id="Z" class="item"  data-qita='/productions/index' data-protype="Z" data-way_display=<%=params[:way_display]%>>
      <!--%= link_to t(:Z),productions_index_path(:protype => 'Z',:way_display => params[:way_display]) %-->
      <%= t(:Z)%>
    </li>
  </ul>
  </div>
</div>
<a id="bai"  href="http://www.baidu.com">baidu.com</a>
<div id="how_show">
  <div class="row">
    <div class="col-sm-6">

      <!-- normal -->
      <div class="ih-item circle effect15 left_to_right">
        <% if params[:protype].blank? %>
            <a href=<%= 'index?way_display=text'%>>
        <%else%>
            <a href=<%= 'index?way_display=text'+'&protype='+ params[:protype] %>>
        <%end%>
        <div class="img"><%= image_tag('li.jpg') %></div>
        <div class="info">
          <h3>list show</h3>
          <p></p>
        </div></a></div>
      <!-- end normal -->

    </div>
    <div class="col-sm-6">

      <!-- colored -->
      <div class="ih-item circle colored effect15 left_to_right">
        <% if params[:protype].blank? %>
            <a href=<%= 'index?way_display=pic'%>>
        <%else%>
            <a href=<%= 'index?way_display=pic'+'&protype='+ params[:protype] %>>
        <%end%>
        <div class="img"><%= image_tag('2.jpg') %></div>
        <div class="info">
          <h3>image show</h3>
          <p></p>
        </div></a>
      </div>
      <!-- end colored -->

    </div>
  </div>
</div>
<div id="content">
  <% if params[:way_display] == 'text'%>
      <table>
        <tr>
          <th><%= t(:no)%></th><th><%= t(:name)%></th><th><%= t(:price)%></th><th><%= t(:unit)%></th><th><%= t(:placefrom)%></th><th><%= t(:available)%></th>
        </tr>
      <%= render @products %>
      </table>
  <% elsif params[:way_display] == 'pic' %>
      <%= render @products %>
  <% end %>
</div>
</div>