
<%= stylesheet_link_tag "productions" %>
<div id="container">
<div id="classify">
  <div id="choice_title">

  </div>
  <ul id="classify_item">
    <li>
      <label><%= t(:veg)%></label>
      <%= label_tag 'vgg','#','data-changetype' => '/productions/change_type','data-protype'=>'V'%>
    </li>
    <li>
      <label><%= t(:veg)%></label>
    </li>
    <li>
      <label><%= t(:veg)%></label>
    </li>
    <li>
      <label><%= t(:veg)%></label>
    </li>
    <li>
      <label><%= t(:veg)%></label>
    </li>
    <li>
      <label><%= t(:veg)%></label>
    </li>
  </ul>
</div>
<div id="how_show">

</div>
<div id="content">
  <%= render @products %>
</div>
</div>
