<div id="indexCover" >
  <div id="topBar">
    <ul>
      <li><%= link_to '注册',{:controller => 'register',:action => 'index' }%></li>
      <li><%= link_to '登录',{:controller => 'login',:action => 'index' }%></li>
    </ul>
  </div>
  <div class="prev" onclick="changeBackGroundPre()" ></div>
  <div class="next" onclick="changeBackGroundNext()" ></div>
</div>
<div id="blank1"></div>
<div id="funMenu">
  <div id="M1"></div>
  <div id="M2"></div>
  <div id="M3"></div>
</div>
<div id="blank2"></div>
<% 6.times do %>
  <div class="box1">
    <%= image_tag("1.jpg") %>
    <p>
      Lorem ipsum
    </p>
    <br />
    <a href="http://www.designshock.com/"> DesignShock.com </a>
  </div>
  <div class="box1">
    <%= image_tag("2.jpg") %>
    <p>
      Lorem ipsum
    </p>
    <br />
    <a href="http://www.designshock.com/"> DesignShock.com </a>
  </div>
  <div class="box1">
    <%= image_tag("3.jpg") %>
    <p>
      Lorem ipsum
    </p>
    <br />
    <a href="http://www.designshock.com/"> DesignShock.com </a>
  </div>
  <div class="box1">
    <%= image_tag("4.jpg") %>
    <p>
      Lorem ipsum
    </p>
    <br />
    <a href="http://www.designshock.com/"> DesignShock.com </a>
  </div>
<% end %>
