<%= stylesheet_link_tag "home" %>
home
<!--<div id="indexCover" >
  <div id="topBar">
    <% if @current_user.blank? %>
    <ul>
      <li><%= link_to t(:register),register_index_path%></li>
      <li><%= link_to t(:login),login_index_path%></li>
    </ul>
    <% else %>
    <ul>
      <li><%= link_to t(:logout),login_logout_path%></li>
      <li><%= link_to @current_user.name   %></li>
    </ul>
    <% end %>
  </div>
  <div class="prev" data-pre  ></div>
  <div class="next" data-next ></div>
</div>
<div id="blank1"></div>
<div id="funMenu">
  <div id="M1" data-btntype="veg" >
    <%= image_tag('rails.png') %>
  </div>
  <div id="M2" data-btntype="fla" >
    <%= image_tag('rails.png') %>
  </div>
  <div id="M3" data-btntype="oth" >
    <%= image_tag('rails.png') %>
  </div>
</div>
<div id="blank2"></div>
<% 6.times do %>
  <div class="box1">
    <%= image_tag("1.jpg") %>
    <p>
      Lorem ipsum
    </p>
    <br />
    <a href="http://www.designshock.com/"> DesignShock.com </a>
  </div>
  <div class="box1">
    <%= image_tag("2.jpg") %>
    <p>
      Lorem ipsum
    </p>
    <br />
    <a href="http://www.designshock.com/"> DesignShock.com </a>
  </div>
  <div class="box1">
    <%= image_tag("3.jpg") %>
    <p>
      Lorem ipsum
    </p>
    <br />
    <a href="http://www.designshock.com/"> DesignShock.com </a>
  </div>
  <div class="box1">
    <%= image_tag("4.jpg") %>
    <p>
      Lorem ipsum
    </p>
    <br />
    <a href="http://www.designshock.com/"> DesignShock.com </a>
  </div>
<% end %>
-->
