<%=  javascript_include_tag "login" %>
<%= form_for('login_form',url:'/login/login') do |f| %>
   <table>
     <tr>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>
     </tr>
     <tr>
       <td></td>
       <td><%= f.submit "login"  %></td>
     </tr>
   </table>
<% end %>
<a href="#" data-background-color = "#990000" data-no-turbolink >Paint it red</a>
<%= debug(@user)%>