<%= javascript_include_tag "register"%>
<div class="nav_top_2011">
<p><span style="color:red;">您还未登录！</span>|<a href="/account/login" target="_top">登录</a>|<a href="/account/register" target="_top">注册</a>|<a href="/help/faq" target="_blank">帮助</a></p><ul>
<li><a href="http://www.csdn.net/" target="_blank">首页</a></li>
<li><a href="http://news.csdn.net/" target="_blank">业界</a></li>
<li><a href="http://mobile.csdn.net/" target="_blank">移动</a></li>
<li><a href="http://cloud.csdn.net/" target="_blank">云计算</a></li>
<li><a href="http://sd.csdn.net/" target="_blank">研发</a></li>
<li><a href="http://bbs.csdn.net/" target="_blank">论坛</a></li>
<li><a href="http://blog.csdn.net/" target="_blank">博客</a></li>
<li><a href="http://download.csdn.net/" target="_blank">下载</a></li>
</ul>
</div>
<div class="top_register"></div>
<%= form_for('register_form',url:'/register/register') do |f| %>

<div class="register">
  <div class="logo_register">
    <%= image_tag("logo_login02.gif") %>
  </div>
  <div class="content_register">
  <div class="top_bg"></div>
  <ul class="login_top">
	<li><%=  image_tag("pic_login01.gif")%></li>
	<li><%=  image_tag("pic_login03.gif")%></li>
  </ul>
  <table class="ipt_box">
    <tr>
      <td>
        <%= f.label t(:name) %><span class="required"> *</span>
      </td>
      <td>
        <%= f.text_field :name,required: true,class:"txt1_bg","data-validate"=> '/users/checkname' %>
      </td>
      <td>
        <div id="divName_info"></div>
      </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
      <td>
        <%= f.label t(:password) %><span class="required"> *</span>
      </td>
      <td>
        <%= f.password_field :password,required:true,class:"txt1_bg" %>
      </td>
      <td>
        <div id="divPassword1_info"></div>
      </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
      <td>
        <%= f.label t(:password_again) %><span class="required"> *</span>
      </td>
      <td>
        <%= f.password_field :password_confirmation,required:true,class:"txt1_bg" %>
      </td>
      <td>
        <div id="divPassword2_info"></div>
      </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
      <td>
        <%= f.label t(:mail) %><span class="required"> *</span>
      </td>
      <td>
        <%= f.text_field :email,required:true,class:"txt1_bg" %>
      </td>
      <td>
        <div id="divMail_info"></div>
      </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
      <td>
        <%= f.label t(:company) %>
      </td>
      <td>
        <%= f.text_field :company,class:"txt1_bg" %>
      </td>
    </tr>
  </table>
  <br/><br/><br/>
  <div class="register_button">
	<%= f.submit t(:btn_register)  %>
  </div>
  <div class="btm_bg"></div>
  </div>
<% end %>
