<!DOCTYPE html>
<html>
<head>
  <title>Sx</title>
  <!--%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %-->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "layout" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top">
    <div id="show_name">
      <% unless session[:user_id].blank? %>
          <% @current_user = User.find_by(id: session[:user_id]) %>
          <ul>
            <li><%= link_to @current_user.name   %></li>
            <li><%= link_to t(:logout),login_logout_path%></li>
          </ul>
      <% end %>
    </div>
    <div id = "header">
        <div class="col-full">
            <div id="logo" class="f1">
                <a href="http://www.baidu.com">
                  <%= image_tag('lwd-logo-new.png')%>
                </a>
            </div>
            <ul id="nav" class="fr">
                  <li id="menu-item-51" class="">
                    <%= link_to t(:home),home_index_path %>
                  </li>
                  <li id="menu-item-51" class="">
                    <%= link_to t(:product),productions_index_path %>
                  </li>
                  <li id="menu-item-51" class="">
                    <%= link_to t(:contact),contact_index_path %>
                  </li>
                  <li id="menu-item-51" class="">
                    <%= link_to t(:login_register),login_index_path %>
                  </li>
            </ul>
        </div>
    </div>
</div>
<%= yield %>

</body>
</html>
